body{

font-family:Arial;

background:#f7f7f7;

margin:0;

padding:50px;

}

.container{

max-width:800px;

margin:auto;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 0 15px rgba(0,0,0,.1);

}

h1{

color:#ff0050;

}

a{

text-decoration:none;

}